<div class="main-container d-flex justify-content-center">
    <h2 mat-dialog-title>Show Names</h2>
    <div mat-dialog-content>
        <table class="table table-dark">
            <tbody>
                <tr>
                    <th>Row</th>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
                <tr>
                    <th>First Name</th>
                    <td>John</td>
                    <td>Peter</td>
                    <td>John</td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td>Carter</td>
                    <td>Parker</td>
                    <td>Rambo</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>johncarter@mail.com</td>
                    <td>peterparker@mail.com</td>
                    <td>johnrambo@mail.com</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>